.Rproj.user
.Rhistory
.RData
.Ruserdata

# Initial scripts
*.sh
*.Rproj

# Inputs, outputs, and intermidiate files
inputs/*
results/*
output/*

# Slurm outputs
*.out

# Snakemake files
.snakemake/

# Databases
databases/*